* {
  scroll-behavior: smooth;
}

#jumbotron_img1 {
  filter: drop-shadow(3px 13px 13px rgba(0, 0, 0, 0.5));
}
#jumbotron_img2 {
  filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.5));
}

#search_book_input::-webkit-input-placeholder::before {
  content: " ";
  position: absolute;
  width: 14px; /* size of a single icon */
  height: 14px;
  background-image: url("../../static/image/icons/arrow_right.png"); /* all icons in a single file */
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 14px;
}
.small-scrollbar::-webkit-scrollbar {
  width: 11px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #e7e5e4;
  border: 1px solid #a8a29e;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #b91c1c, #f97316);
  border-radius: 50px;
  border: 2px solid #a8a29e;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0deg, #f97316, #b91c1c);
}

#quotes_wrapper {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
#quotes_wrapper blockquote {
  scroll-snap-align: start;
}

.text-balance {
  text-wrap: balance;
}

.filter-to-yellow {
  filter: invert(79%) sepia(81%) saturate(3483%) hue-rotate(349deg)
    brightness(110%) contrast(96%);
}

.filter-to-white {
  filter: brightness(0) invert(1);
}

.filter-to-green {
  filter: invert(47%) sepia(47%) saturate(6405%) hue-rotate(123deg)
    brightness(98%) contrast(83%);
}
.filter-to-green2 {
  filter: invert(60%) sepia(48%) saturate(718%) hue-rotate(89deg)
    brightness(94%) contrast(88%);
}

.filter-to-gray {
  filter: invert(12%) sepia(9%) saturate(2737%) hue-rotate(176deg)
    brightness(90%) contrast(87%);
}
.filter-to-gray2 {
  filter: invert(49%) sepia(0%) saturate(410%) hue-rotate(293deg)
    brightness(90%) contrast(81%);
}

.filter-to-red {
  filter: invert(13%) sepia(40%) saturate(6011%) hue-rotate(348deg)
    brightness(101%) contrast(94%);
}

.filter-parent:hover .hover-filter-green-to-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(260deg)
    brightness(110%) contrast(101%);
}

.filter-parent:hover .hover-black-to-white {
  filter: brightness(0) invert(1);
}

#code_typer div {
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border-color: #737373;
}

#code_typer div:nth-child(1) {
  grid-area: num_1;
}
#code_typer div:nth-child(2) {
  grid-area: num_2;
}
#code_typer div:nth-child(3) {
  grid-area: num_3;
}
#code_typer div:nth-child(4) {
  grid-area: num_4;
}
#code_typer div:nth-child(5) {
  grid-area: num_5;
}
#code_typer div:nth-child(6) {
  grid-area: num_6;
}
#code_typer div:nth-child(7) {
  grid-area: num_7;
}
#code_typer div:nth-child(8) {
  grid-area: num_8;
}
#code_typer div:nth-child(9) {
  grid-area: num_9;
}
#code_typer div:nth-child(10) {
  grid-area: num_0;
}
#code_typer div:last-of-type {
  grid-area: backspace;
  height: 120px;
}
#code_typer {
  display: grid;
  grid-template-areas:
    "num_1 num_2 num_3 backspace"
    "num_4 num_5 num_6 backspace"
    "num_7 num_8 num_9 num_0";
}
