{% extends 'layout.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Your Profile Page{% endblock %}

{% block content %}

<main class="pt-28 md:pt-32 w-11/12 md:w-5/6 mx-auto">
   <div class="sm:flex gap-8">
      <div class="border-2 border-neutral-800 rounded-full">
         <img src="{{ user.userdetail.image.url }}" class="w-44 h-44 rounded-full object-cover shadow-2xl" alt="{{ user.username }} Profile Picture">
      </div>
      <div class="mt-7 sm:mt-2 px-3 sm:px-0">
         <h1 class="text-3xl md:text-[33px] lg:text-4xl font-bold mb-3">{{ user.get_full_name }}</h1>
         <p class="text-[15px] md:text-base mb-1 italic"><span class="text-gray-700 font-semibold">Username:</span> {{ user.username }}</p>
         <p class="text-[15px] md:text-base mb-1 italic"><span class="text-gray-700 font-semibold">Email Address:</span> {{ user.email }}</p>
      </div>
   </div>
   <div class="rounded-lg w-full md:w-[600px] lg:w-[700px] xl:w-[800px] 2xl:w-[900px] border border-red-300 mt-12 overflow-hidden">
      <div class="bg-red-500 px-5 py-3 text-white text-base md:text-lg font-semibold"><h2>Account Configuration</h2></div>
      {% if is_seller %}
      <a class="flex items-center gap-4 md:gap-5 px-5 md:px-6 py-4 select-none hover:bg-slate-200" href="{% url 'Seller:account' user.id %}">
         <img src="{% static 'image/icons/account.png' %}" class="w-6 h-6 md:w-7 md:h-7 filter-to-gray">
         <div>
            <h2 class="text-[15px] md:text-base 2xl:text-lg font-semibold">View Seller Account</h2>
            <p class="text-sm md:text-[15px] 2xl:text-base text-slate-600 italic">View your seller channel and see all your uploaded product.</p>
         </div>
      </a>
      <a class="flex items-center gap-4 md:gap-5 px-5 md:px-6 py-4 select-none hover:bg-slate-200" href="{% url 'Seller:customer_orders' %}">
         <img src="{% static 'image/icons/order.png' %}" class="w-6 h-6 md:w-7 md:h-7 filter-to-gray">
         <div>
            <h2 class="text-[15px] md:text-base 2xl:text-lg font-semibold">Customer's Order</h2>
            <p class="text-sm md:text-[15px] 2xl:text-base text-slate-600 italic">View your customers order. Give your customers confirmation from new order.</p>
         </div>
      </a>
      {% endif %}
      <a class="flex items-center gap-4 md:gap-5 px-5 md:px-6 py-4 select-none hover:bg-slate-200" href="{% url 'User:set_address' %}">
         <img src="{% static 'image/icons/location.png' %}" class="w-6 h-6 md:w-7 md:h-7 filter-to-gray">
         <div>
            <h2 class="text-[15px] md:text-base 2xl:text-lg font-semibold">Set Adress</h2>
            <p class="text-sm md:text-[15px] 2xl:text-base text-slate-600 italic">Set your address to ease your picking up.</p>
         </div>
      </a>
      <a class="flex items-center gap-4 md:gap-5 px-5 md:px-6 py-4 select-none hover:bg-slate-200" href="{% url 'User:privacy_security' %}">
         <img src="{% static 'image/icons/lock.png' %}" class="w-6 h-6 md:w-7 md:h-7 filter-to-gray">
         <div>
            <h2 class="text-[15px] md:text-base 2xl:text-lg font-semibold">Privacy and Security</h2>
            <p class="text-sm md:text-[15px] 2xl:text-base text-slate-600 italic">Seting your email, password, and other personal information.</p>
         </div>
      </a>
      <a class="flex items-center gap-4 md:gap-5 px-5 md:px-6 py-4 select-none hover:bg-slate-200" href="{% url 'User:about_account' %}">
         <img src="{% static 'image/icons/information.png' %}" class="w-6 h-6 md:w-7 md:h-7 filter-to-gray">
         <div>
            <h2 class="text-[15px] md:text-base 2xl:text-lg font-semibold">About Account</h2>
            <p class="text-sm md:text-[15px] 2xl:text-base text-slate-600 italic">Your current user status. Are you a buyer or a seller?</p>
         </div>
      </a>
   </div>
</main>

<section class="w-11/12 md:w-5/6 mx-auto my-20">
   <h1 class="text-2xl sm:text-[28px] semi-lg:text-[32px] 2xl:text-[39px] font-bold mb-10">On Going Trasactions</h1>
   {% if on_going_transactions|length > 0 %}
   {% for transaction in on_going_transactions %}
   <div class="w-full semi-lg:w-[90%] shadow-book-div rounded-lg mb-10 overflow-hidden">
      <div class="flex gap-3">
         <div
            class="w-[132px] h-[176px] md:w-[150px] md:h-[200px] xl:w-[174px] xl:h-[232px] 2xl:w-[198px] 2xl:h-[264px] flex-shrink-0">
            {% with transaction.book|find_main_image as book_main_image %}
            <img src="{{ book_main_image.image.url }}" alt="Image Of '{{ book.name }}' Book"
               class="w-full h-full object-cover rounded-sm">
            {% endwith %}
         </div>
         <div class="p-4 w-full pr-6">
            <h2 class="semi-lg:text-lg font-bold mb-2">{{ transaction.book.name }}</h2>
            <div class="text-[13px] md:text-[15px] italic">
               <p class="my-1"><span class="font-bold">Address</span>: {{ transaction.address }}</p>
               <p class="my-1"><span class="font-bold">Payment</span>: {{ transaction.payment_method }}</p>
               <p class="my-1"><span class="font-bold">Shipment</span>: {{ transaction.shipment_method }}</p>
               <p class="my-1"><span class="font-bold">Status</span>: {{ order.arrival_status }}</p>
            </div>
         </div>
      </div>
      <div class="p-5 flex justify-end md:hidden">
         <a href="" class="border border-red-600 rounded-sm py-2 px-4 text-sm text-red-600 transition-all hover:text-white hover:bg-red-500">Track Transaction</a>
      </div>
   </div>
   {% endfor %}
   {% else %}
   <div class="pb-16">
      <p>There is no transaction on going for now! <a href="{% url 'Library:main' %}" class="text-red-400">Click here</a> to buy new book.</p>
   </div>
   {% endif %}
</section>

<section class="w-11/12 md:w-5/6 mx-auto md:mt-10">
   <h1 class="text-2xl sm:text-[28px] semi-lg:text-[32px] 2xl:text-[39px] font-bold mb-7">Other Recommended Books</h1>
   {% include 'library/product_div.html' %}
</section>

{% endblock %}